@media screen 
and (min-width: 481px)
and (max-width: 800px) {
    body {
        background-image: url("bg-bottom.svg");
        background-position-y:130%;
    }

    header {
        padding-top: 1%;
    }
    
    .Toggle-switch {
        padding: 0% 0% 3%;
    }
    
    .Pricing-component {
        background-image: url("bg-top.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: 100%;

        #annually, #monthly {
            grid-template-columns: 33.3% 33.3% 33.3%;
            justify-content: center;
        }
        
        .Basic, .Professional {

            #price {
                font-size: 300%;
            }

            #text {
                margin: 5% 8%;
            }
        } 
        
        button {
            padding: 3% 22%;
        }

        .Basic:hover {
            transform: scale(106%);
            transition: transform .5s;
            -webkit-transform:scale(1.1);
            -webkit-transition:-webkit-transform .4s;
        }

        .Professional:hover {
            transform: scale(106%);
            transition: transform .5s;
            -webkit-transform:scale(1.1);
            -webkit-transition:-webkit-transform .4s;
        }
    }

    footer {
        margin: 0;
        padding-top: 1%;
    }
}