@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url("bg-top.svg");
  }

  header {
    padding-top: 15%;
  }

  .Toggle-switch {
    padding: 2% 0% 15%;
  }

  .Pricing-component #annually {
    grid-template-rows: 33.3% 33.3% 33.3%;
    row-gap: 2.5%;
  }
  .Pricing-component #monthly {
    grid-template-rows: 33.3% 33.3% 33.3%;
    row-gap: 2.5%;
  }
  .Pricing-component .Basic #price, .Pricing-component .Professional #price {
    font-size: 450%;
  }
  .Pricing-component .Basic #text, .Pricing-component .Professional #text {
    margin: 5% 5%;
  }
  .Pricing-component button {
    padding: 4% 31%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url("bg-bottom.svg");
    background-position: bottom;
  }

  header {
    padding-top: 3%;
  }

  .Toggle-switch {
    padding: 1% 0% 5%;
  }

  .Pricing-component #annually {
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
  }
  .Pricing-component #monthly {
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
  }
  .Pricing-component .Basic #price, .Pricing-component .Professional #price {
    font-size: 400%;
  }
  .Pricing-component .Basic #text, .Pricing-component .Professional #text {
    margin: 5% 8%;
  }
  .Pricing-component button {
    padding: 3% 25%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #6d708d;
  background-color: #f6f6fe;
  margin: 0;
  background-repeat: no-repeat;
}

header {
  text-align: center;
}

.Toggle-switch {
  display: grid;
  grid-template-columns: 80px 60px 80px;
  justify-content: center;
}
.Toggle-switch p {
  color: #b3b5c6;
  line-height: 0px;
  font-size: 80%;
}
.Toggle-switch .Switch-slider {
  /* Hide default HTML checkbox */
  /* The slider */
}
.Toggle-switch .Switch-slider .Switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 29px;
}
.Toggle-switch .Switch-slider .Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Toggle-switch .Switch-slider .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(130deg, #a3a8f0, #696fdd);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}
.Toggle-switch .Switch-slider .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #f6f6fe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}
.Toggle-switch .Switch-slider input:checked + .slider {
  background-image: linear-gradient(130deg, #a3a8f0, #696fdd);
}
.Toggle-switch .Switch-slider input:checked + .slider:before {
  transform: translateX(15px);
}

.Pricing-component #annually {
  display: grid;
  margin: 0% 5%;
  text-align: center;
}
.Pricing-component #monthly {
  display: grid;
  margin: 0% 5%;
  text-align: center;
}
.Pricing-component .Basic, .Pricing-component .Professional {
  background-color: white;
  border-radius: 10px;
  padding: 5% 0%;
}
.Pricing-component .Basic #price, .Pricing-component .Professional #price {
  color: #454759;
  margin: 20px 0px 30px;
}
.Pricing-component .Basic #price::first-letter, .Pricing-component .Professional #price::first-letter {
  font-size: 50%;
}
.Pricing-component .Basic #text, .Pricing-component .Professional #text {
  border-top: 1px solid rgba(179, 181, 198, 0.5);
}
.Pricing-component .Basic p:nth-child(5), .Pricing-component .Professional p:nth-child(5) {
  border-bottom: 1px solid rgba(179, 181, 198, 0.5);
  padding-bottom: 5%;
}
.Pricing-component .Basic #purpleButton, .Pricing-component .Professional #purpleButton {
  background-image: linear-gradient(130deg, #a3a8f0, #696fdd);
  color: #f6f6fe;
}
.Pricing-component .Basic #purpleButton:hover, .Pricing-component .Professional #purpleButton:hover {
  color: #696fdd;
  background-color: white;
  background-image: none;
  border: 1px solid #696fdd;
}
.Pricing-component .Professional {
  background-image: linear-gradient(130deg, #a3a8f0, #696fdd);
  color: #f6f6fe;
  border-radius: 10px;
}
.Pricing-component .Professional #price {
  color: #f6f6fe;
}
.Pricing-component .Professional #whiteButton {
  background-color: #f6f6fe;
  color: linear-gradient(130deg, #a3a8f0, #696fdd);
  border: 1px solid white;
}
.Pricing-component .Professional #whiteButton:hover {
  color: white;
  background-image: linear-gradient(130deg, #9197ed, #696fdd);
}
.Pricing-component button {
  border: transparent;
  border-radius: 5px;
  margin: 5% 0%;
  letter-spacing: 2px;
  font-weight: bolder;
}

footer {
  text-align: center;
  padding-top: 20%;
  font-size: xx-small;
}

/*# sourceMappingURL=style.css.map */
